body
{
	background-color: #1a1a1a;
	color: #ffffff;
	font-size: 28px;
	font-family: 'Inconsolata';
	margin: 0;
}

#container
{
	width: 1050px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;


}

#menu
{
	float: left;
	width: 146px;
	min-height: 550px;
	text-align: center;
	background-color: #1a1a1a;
	margin-top: 50px;
	border-right: 2px dashed #c34f4f;
	border-left: 2px dashed #c34f4f;

}

ol
{
	list-style-type: none;
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
	

}

ol>li
{

	text-align: center;
	font-size: 22px;
	padding: 8px 0px 8px 0px;
	border-top: 2px dashed #c34f4f;
}

ol>li:last-child
{
	border-bottom: 2px dashed #c34f4f;
}

ol>li:hover
{
	cursor: pointer;
	background-color: #cf6969;
	color: #451717;
	
}



#pojemnik
{
	width: 900px;
	text-align: center;

	float: left;
}

#pytanie
{
	width: 900px;
	margin-top: 50px;
	min-height: 50px;
	font-size: 36px;



}
#plansza
{
	width: 900px;
	margin-top: 10px;
	margin-bottom: 50px;
	min-height: 50px;
	font-size: 36px;


}

#obrazek
{
	float: left;
	width: 450px;
	min-height: 280px;
	padding: 10px 0px;

}

#panel
{
	float: left;
	width: 450px;
	min-height: 300px;
	text-align: center;

}

#plansza2
{
	width: 900px;
	min-height: 100px;

}

#skucia
{
	width: 450px;
	font-size: 24px;
	text-align: conter;
	padding: 10px 0px;
	float: left;

}
#nav
{
	width: 450px;
	font-size: 24px;
	text-align: conter;
	padding: 10px 0px;
	float: left;

}
.litera
{
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 5px;
	margin: 5px;
	border: 3px solid gray;
	float: left;
	cursor: pointer;
	border-radius: 15px;
	font-size: 28px;
}
.litera:hover
{
	border: 3px solid lightgray;
}

.reset
{
	color: #006600;
	line-height: 200%
}

.reset:hover
{
	cursor: pointer;
	color:  #00cc00;
	
	
}
